<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1,  user-scalable=no">
    <meta name="description" content="Loginside til ucl's Social Planner. App til socialt samvær">
    <meta name="theme-color" content="#AAC6C7">
    <meta name="author" content="Kasper Ptak, Maria Solsikke, Trine Mørup, Nanna Tubaek">
    <meta name="keywords" content="HTML, CSS, JavaScript, App, Education">

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/begivenhed-sider.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


    <title>Fritids begivenheder</title>

</head>

<body>

    <div class="wrap">

        <section class="top-icons">

            <div class="settings">
                <a href="../indstillinger.html">
                    <p>Indstillinger</p>
                </a>
                <a href="../indstillinger.html" class="text-right">
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                </a>
            </div>

            <div class="back-arrow">
                <a href="javascript:history.back()" class="text-right">
                    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                </a>
                <a href="javascript:history.back()">
                    <p>Tilbage</p>
                </a>
            </div>

            <div class="clear"></div>
        </section>

        <h1 class="begivenheder-text"> Fritids begivenheder</h1>

        <article class="opslag">

            <section class="heading-image">
                <img class="img-fluid" src="../../imgs/havnebad.jpg" alt="havnebad event billede">
                <div class="se-begivenhed-btn ">
                    <!-- <div class="heading-btn"></div> -->
                    <a class="btn " href="../event-descriptions/havnebadstur.html">
                        <p> Se begivenhed </p>
                    </a>
                </div>
            </section>

            <section class="dato-deltagere text-box">
                <p>
                    14-09-2021
                </p>

                <p>
                    102 deltagere
                </p>
            </section>

            <div class="begivenheds-title-text">
                <a href="../event-descriptions/havnebadstur.html">Havnebadstur</a>
            </div>

            <p class="bread-text">
                Tag med ned til havnebadet til vandplask og sjove timer!
            </p>

        </article>

        <article class="opslag">

            <section class="heading-image">
                <img class="img-fluid" src="../../imgs/volley.jpg" alt="fotokursus event billede">
                <div class="se-begivenhed-btn ">
                    <!-- <div class="heading-btn"></div> -->
                    <a class="btn " href="../event-descriptions/volleyball.html">
                        <p> Se begivenhed </p>
                    </a>
                </div>
            </section>

            <section class="dato-deltagere text-box">
                <p>
                    14-09-2021
                </p>

                <p>
                    102 deltagere
                </p>
            </section>

            <div class="begivenheds-title-text">
                <a href="../event-descriptions/volleyball.html">Volleyball m. 2. Semester</a>
            </div>

            <p class="bread-text">
                2.Semester udfordre jer til en volleyball kamp i dette dejlige vejr!
            </p>

        </article>

    </div>

    <footer>
        <nav class="navbar">

            <a href="../event-pages/dine-begivenheder.html">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>

            <a href="../event-pages/skole-begivenheder.html">
                <i class="fas fa-book fa-2x" aria-hidden="true"></i>
            </a>

            <a href="../event-pages/fritids-begivenheder.html">
                <i class="fa fa-user-friends fa-2x" aria-hidden="true"></i>
            </a>

            <a href="../event-pages/fredagsbar-begivenheder.html">
                <i class="fa fa-wine-glass-alt fa-2x" aria-hidden="true"></i>
            </a>

        </nav>
    </footer>



</body>

</html>