* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 ::root {

    --offWhite: #e3f1f0;
    --darkGreen: #00454E;
    --yellow: #fae256;
    --blue: #4267b2;
    --grey: #AAC6C7;
    --red: #BC2222;
    
 }

.wrap {

    margin: auto;
    max-width: 95%;
    background-color: hotpink;


}

 /* #region globale klasser */

 .text-center {
     text-align: center;

 }

 .img-fluid {
    width: 100%;

 }



 /* #endregion */




