<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1,  user-scalable=no">
    <meta name="description" content="Loginside til ucl's Social Planner. App til socialt samvær">
    <meta name="theme-color" content="#AAC6C7">
    <meta name="author" content="Kasper Ptak, Maria Solsikke, Trine Mørup, Nanna Tubaek">
    <meta name="keywords" content="HTML, CSS, JavaScript, App, Education">
    
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dine-begivenheder.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    
    <title>Dine begivenheder</title>
</head>
<body>
    <div class="wrap">
    
        <section class="top-icons">

            <div class="settings">
              <a href="">
                <p>Indstillinger</p>
              </a>
      
              <a href="" class="text-right">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
              </a>
            </div>
      
            <div class="clear"></div>
        </section>

            <h1 class="dine-begivenheder-text"> Dine begivenheder</h1>
      
        <div class="fredags-bar-opslag">
            <div class="heading-image">
                <img src="../imgs/pexels-photo-243757.jpeg" alt="">
            </div>
            
            <div class="text-box">
                 <div class="dato-deltagere">
                    <div class="dato">
                        <p>
                            14-09-2021
                        </p>
                    </div>
                    <div class="deltagere">
                            <p>
                            102 deltagere
                        </p>
                    </div>
                </div>
                <div class="begivenheds-title-text">
                    <a href="">Fredagsbar</a>
             </div>
                <div class="bread-text">
                    <p>
                        Fredagsbar wohuu!
                        Fredag er ugens bedste dag for det betyder at weekenden står lige for døren! <span>
                        </span> Kom ned og nyd en kold øl eller ti sammen med dine studiekammerater og mød nye mennesker.
                     </p>
                </div>
            </div>
        </div>
    </div>

        <footer>
            <nav class="navbar">
        
              <a href="">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
              </a>
        
              <a href="">
                <i class="fas fa-book fa-2x" aria-hidden="true"></i>
              </a>
        
              <a href="">
                <i class="fa fa-user-friends fa-2x" aria-hidden="true"></i>
              </a>
        
              <a href="">
                <i class="fa fa-wine-glass-alt fa-2x" aria-hidden="true"></i>
              </a>
        
            </nav>
          </footer>

    
    
</body>
</html>