<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1,  user-scalable=no">
    <meta name="description" content="Loginside til ucl's Social Planner. App til socialt samvær">
    <meta name="theme-color" content="#AAC6C7">
    <meta name="author" content="Kasper Ptak, Maria Solsikke, Trine Mørup, Nanna Tubaek">
    <meta name="keywords" content="HTML, CSS, JavaScript, App, Education">
  
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel ="stylesheet" href="../css/login.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

</head>
<body>
  <div class="wrap">
    
    
    <section> 
      <img class="img-fluid" src="../imgs/1000x594.png" alt="logo"> 
   </section>

    <section> 
      <h1>Social Planner</h1>
    </section>











    </div>
  </div>

    <footer>
        <nav class="navbar">
    
          <a href="">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fas fa-book fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fa fa-user-friends fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fa fa-wine-glass-alt fa-2x" aria-hidden="true"></i>
          </a>
    
        </nav>
      </footer>

</body>
</html>