<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  

</head>
<body>

    <section class="top-icons">

        <div class="back-arrow ">
          <a  class="text-left" href="" onclick="history.go(-1)" >
            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </a>
          <a href="" onclick="history.go(-1)" >
            <p>Tilbage</p>
          </a>
        </div>
  
        <div class="settings">
          <a href="">
            <p>Indstillinger</p>
          </a>
  
          <a href="" class="text-right">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </a>
        </div>
  
        <div class="clear"></div>
  
      </section>


    <h1>registrer</h1>



    <footer>
        <nav class="navbar">
    
          <a href="">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fas fa-book fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fa fa-user-friends fa-2x" aria-hidden="true"></i>
          </a>
    
          <a href="">
            <i class="fa fa-wine-glass-alt fa-2x" aria-hidden="true"></i>
          </a>
    
        </nav>
      </footer>

</body>
</html>