<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1,  user-scalable=no">
    <meta name="description" content="Loginside til ucl's Social Planner. App til socialt samvær">
    <meta name="theme-color" content="#AAC6C7">
    <meta name="author" content="Kasper Ptak, Maria Solsikke, Trine Mørup, Nanna Tubaek">
    <meta name="keywords" content="HTML, CSS, JavaScript, App, Education">
    

    <title>registrer</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/registrer.css">

  

</head>
<body>


  <div class="wrap">
    
    
    <section class="login-logo"> 
      <img class="img-fluid" src="../imgs/1000x594.png" alt="logo"> 
    </section>

    <section class="login-heading text-center"> 
      <h1>Social Planner</h1>
    </section>

    <main>
      <section class="inputs">
        <input class="width100" placeholder="E-mail" type="email" required>
        <input class="width100" placeholder="Adgangskode" type="password" required>
        <input class="width100" placeholder="Bekræft adgangskode" type="password" required>


    <div class="checkbox">
      <input class="width100 " type="checkbox" placeholder="Adgangskode">
          <label class="width100 " for="agreements">Jeg har læst og accepteret brugerbetingelserne</label>
        </div>

        <section >
          <ul class="loginknap ">
            <li class="knap">
              <a href="">Opret Bruger</a>
            </li>
          </ul>
  
        </section>

   

</body>
</html>