<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1,  user-scalable=no">
    <meta name="description" content="Loginside til ucl's Social Planner. App til socialt samvær">
    <meta name="theme-color" content="#AAC6C7">
    <meta name="author" content="Kasper Ptak, Maria Solsikke, Trine Mørup, Nanna Tubaek">
    <meta name="keywords" content="HTML, CSS, JavaScript, App, Education">
  
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel ="stylesheet" href="../css/login.css">

    <script src="../js/login.js" defer></script>

</head>
<body>
  <div class="wrap">
    
    
    <section class="login-logo"> 
      <img class="img-fluid" src="../imgs/1000x594.png" alt="logo"> 
    </section>

    <section class="login-heading text-center"> 
      <h1>Social Planner</h1>
    </section>

    <main>
      <section class="inputs">
        <input class="width100" id="loginEmail" placeholder="E-mail" type="email" required>
        <input class="width100" id="loginPassword" placeholder="Adgangskode" type="text" required>
              
      </section>
      
      <section >
        <ul class="loginknap ">
          <li class="knap">
            <a onclick="checklogin()" href="#">Login</a>
          </li>
          <li class="knap">
            <a href="../views/registrer.html"  >Registrer</a>
          </li>
        </ul>

      </section>
      
      <div class="text-center forgotten">

        <a class="" href="">Glemt adgangskode</a>
      </div>

    </main>










    </div>

    

</body>
</html>