body {
   background-color: var(--grey);

}

.wrap {

    margin: auto;
    max-width: 95%;
    /* background-color: hotpink; */

}

.top-icons {
    margin: 5% auto;
    
}



.settings {
    float: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.dine-begivenheder-text {
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.fredags-bar-opslag {
    border: 2px solid black;
    background-color: aqua;
    margin: 36px;
    width: 80%;
    height: 375px;
    border-radius: 10px;
}

.heading-image img {
    width: 100%;
    height: 10%;
}
.dato-deltagere {
    font-family: var(--font);
    font-weight: var(--regular);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.begivenheds-title-text {
    font-size: 20px;
    font-weight: var(--bold);
    font-family: var(--font);
    
}