@import url("https://use.typekit.net/afz5wtp.css");

body {
    background-color: var(--offWhite);
}

main {
    position: relative;
    background-color: var(--grey);
    border-radius: 20px;
}

.heading-image {
    position: relative;
    
}
.heading-image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.heading-btn {
    position: absolute;
    bottom: -12px;

    ;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* .blur {
    min-height: 70px;
    
    bottom: -15px;
    background-color: grey;
    filter: blur(40px) brightness(46%);
} */



.heading-text {
    padding: 20px 20px 10px 20px;

}

.event-h1 {
    font-size: 32px;
}

.event-date {
    font-size: 20px;
}

.bread-text {
    padding: 20px;
}

.participants {
    padding: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 100;
    
    display: flex;
    justify-content: center;
}



