@import url("https://use.typekit.net/afz5wtp.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
 }

 :root {

    /* colours */
    --offWhite: #e3f1f0;
    --offBlack: #111111;
    --darkGreen: #00454E;
    --yellow: #fae256;
    --blue: #4267b2;
    --grey: #AAC6C7;
    --red: #BC2222;

    /* Fonts */
    --font: proxima-nova, sans-serif; 
    --bold: 700; 
    --regular: 400; 
    /* font-weight: 700 */

    
 }

 /* #region globale klasser */

 .wrap {

    margin: auto;
    max-width: 95%;
    /* background-color: hotpink; */

}

 .text-center {
    text-align: center;

}
 .text-left {
    text-align: left;

}
 .text-right {
    text-align: right;

}

.width100 {
    width: 100%;
}

.btn {
    
    padding: 10px 100px;
    border-radius: 10px;
    
    background-color: var(--darkGreen);
    
}

.btn {
    color: var(--offWhite);
}

.login-logo {
    margin: 20% auto 0 auto;
    width: 50%;

}

.img-fluid {
   width: 100%;

}

.login-heading {
    font-size: 36px;
    font-weight: var(--bold);
    font-family: var(--font);
    line-height: 1;
    color: var(--darkGreen);
}

.clear {
    clear: both;
}

a {
    color: var(--offBlack);
    text-decoration: none;
}

.regular {
    font-weight: var(--regular);
}

/* #endregion */

/* #region top ikoner (indstillinger og tilbageknap) */

.top-icons {
    margin: 5% auto;
    
}



.back-arrow {
    float: left;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    color: var(--offBlack);
}

.settings {
    float: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

/* #endregion */


/* #region footer/menu */

footer {
    margin-bottom: 80px;
}

.navbar {
    padding: 5px;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    
    background-color: var(--darkGreen);
    
}

.navbar a {
    color: var(--offWhite);
    padding: 6px;
}

/* #endregion */


