@import url("https://use.typekit.net/afz5wtp.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
 }

 :root {

    /* colours */
    --offWhite: #e3f1f0;
    --offBlack: #111111;
    --darkGreen: #00454E;
    --yellow: #fae256;
    --blue: #4267b2;
    --grey: #AAC6C7;
    --red: #BC2222;

    /* Fonts */
    --font: proxima-nova, sans-serif; 
    --bold: 700; 
    --regular: 400; 
    /* font-weight: 700 */

    
 }

 /* #region globale klasser */

 .wrap {

    margin: auto;
    max-width: 95%;
    /* background-color: hotpink; */

}

 .text-center {
    text-align: center;

}
 .text-left {
    text-align: left;

}
 .text-right {
    text-align: right;

}

.width100 {
    width: 100%;
}

.btn {
    
    padding: 10px 100px;
    border-radius: 10px;
    
    background-color: var(--darkGreen);
    color: var(--offWhite);
    
}

.btn-logout {
    padding: 10px 80px;
    border-radius: 10px;

    background-color: red;
    color: var(--offWhite);
}

.login-logo {
    margin: 20% auto 0 auto;
    width: 50%;

}

.img-fluid {
   width: 100%;

}

.login-heading {
    font-size: 36px;
    font-weight: var(--bold);
    font-family: var(--font);
    line-height: 1;
    color: var(--darkGreen);
}

.clear {
    clear: both;
}

a {
    color: var(--offBlack);
    text-decoration: none;
}

.regular {
    font-weight: var(--regular);
}

/* #endregion */

/* #region top ikoner (indstillinger og tilbageknap) */

.top-icons {
    margin: 5% auto;
    
}

#indstillinger {
    display: none;
    position: fixed;
    z-index: 1;

    background-color: var(--grey);
    
    opacity: .93;
    height: 60vh;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    margin-top: 31vh;

    /* transition: settings 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s; */

}

#indstillinger h2  {
    display: flex;
    margin: 10px auto 20px auto;
    justify-content: center;
}

#close-indstillinger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 22px;

}

/* 
@keyframes settings {

    from {
        top: -100vh;
    }

    to {
        top: 0;
    }
} */

.close-settings {
    position: absolute;
    bottom: 20px;

    border-radius: 10px;
    padding: 5px 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.settings-label {
    width: 80%;

    display: flex;
    margin: auto;
    
}

.settings-options {
    width: 80%;

    display: flex;
    margin: 0 auto 20px auto;

}


.back-arrow {
    float: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    align-items: center;
    color: var(--offBlack);
}

.settings {
    float: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

/* #endregion */


/* #region footer/menu */

footer {
    margin-bottom: 80px;
}

.navbar {
    padding: 5px;

    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    
    background-color: var(--darkGreen);
    
}

.navbar a {
    color: var(--offWhite);
    padding: 6px;
}

/* #endregion */


